<?php
/**
 * @var \Phalcon\Mvc\View\Engine\Php $this
 */
?>
<nav>
    <ul class="pager">
        <li class="previous"><?php echo $this->tag->linkTo(["corporates/index", "Назад"]); ?></li>
        <li class="next"><?php echo $this->tag->linkTo(["corporates/new", "Создать "]); ?></li>
    </ul>
</nav>
<div class="page-header">
    <h1>
        Поиск карты
    </h1>
    <p>
        <?php echo $this->tag->linkTo(["corporates/new", "Создать карту"]) ?>
    </p>
</div>

<?php echo $this->getContent() ?>

<?php
    echo $this->tag->form(
        [
            "corporates/search",
            "autocomplete" => "off",
            "class" => "form-horizontal"
        ]
    );
?>

<div class="form-group">
    <label for="fieldId" class="col-sm-2 control-label">Идентификатор</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["id", "type" => "number", "class" => "form-control", "id" => "fieldId"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldName" class="col-sm-2 control-label">Имя</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["name", "size" => 30, "class" => "form-control", "id" => "fieldName"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldSite" class="col-sm-2 control-label">Фамилия</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["Surname", "size" => 30, "class" => "form-control", "id" => "fieldSite"]) ?>
    </div>
</div>
<div class="form-group">
    <label for="fieldSite" class="col-sm-2 control-label">Телефон</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["phone", "size" => 30, "class" => "form-control", "id" => "fieldSite"]) ?>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <?php echo $this->tag->submitButton(["Поиск", "class" => "btn btn-default"]) ?>
    </div>
</div>

<?php echo $this->tag->endForm(); ?>
