<?php
/**
 * @var \Phalcon\Mvc\View\Engine\Php $this
 */
?>

<?php use Phalcon\Tag; ?>

<div class="row">
    <nav>
        <ul class="pager">
            <li class="previous"><?php echo $this->tag->linkTo(["corporates/index", "Назад"]); ?></li>
            <li class="next"><?php echo $this->tag->linkTo(["corporates/new", "Создать "]); ?></li>
        </ul>
    </nav>
</div>

<div class="page-header">
    <h1>Результаты поиска</h1>
</div>

<?php echo $this->getContent(); ?>

<div class="row">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Идентификатор</th>
            <th>Имя</th>
            <th>Фамилия</th>
                <th>Телефон</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        <?php foreach ($page->items as $corporate): ?>
            <tr>
                <td><?php echo $corporate->id ?></td>
            <td><?php echo $corporate->name ?></td>
            <td><?php echo $corporate->Surname ?></td>
                <td><?php echo $corporate->phone ?></td>
                <td><?php echo $this->tag->linkTo(["corporates/edit/" . $corporate->id, "Изменить"]); ?></td>
                <td><?php echo $this->tag->linkTo(["corporates/delete/" . $corporate->id, "Удалить"]); ?></td>
            </tr>
        <?php endforeach; ?>
        </tbody>
    </table>
</div>

<div class="row">
    <div class="col-sm-1">
        <p class="pagination" style="line-height: 1.42857;padding: 6px 12px;">
            <?php echo $page->current, "/", $page->total_pages ?>
        </p>
    </div>
    <div class="col-sm-11">
        <nav>
            <ul class="pagination">
                <li><?php echo $this->tag->linkTo("corporates/search", "Первая") ?></li>
                <li><?php echo $this->tag->linkTo("corporates/search?page=" . $page->before, "Предыдущая") ?></li>
                <li><?php echo $this->tag->linkTo("corporates/search?page=" . $page->next, "Следующая") ?></li>
                <li><?php echo $this->tag->linkTo("corporates/search?page=" . $page->last, "Последняя") ?></li>
            </ul>
        </nav>
    </div>
</div>
